/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 20, 2024, 11:00:53 AM
    Author     : Backup
*/

﻿body{
background:url("../image/fondoazul62.jpg");
}
.sesion{
    color:white;
    font-family:Arial;    
}
.volver{
    color:white;
    font-family:Arial;
}


